@model DogViewmodel



<h1>Create</h1>

<hr />

<div class="row">

    <div class="body">

        <div class="card-header">
            <h3>Create a new dog</h3>
        </div>

        <div class="card-body">

            <form asp-controller="HellowWorld" asp-action="CreateDog" method="post">
                <div class="mb-3">
                    <label class="form-label">Dog Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Enter name">
                </div>

                <div class="mb-3">
                    <label class="form-label">Dog Age</label>
                    <input asp-for="Age" type="number" class="form-control" id="name" placeholder="Enter name">
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">SAVE</button>"
                </div>
            </form>

        </div>

        <div class="card-footer">
        </div>


    </div>

    <div class="col-6">
    </div>
</div>