@model List<UdemyCourseFirstMVCApp.Models.HotelBooking>

   
@*
 For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

<h1>Hotel Udemy</h1>
<p>For your everyday booking</p>


<ul>
 @foreach(var hotel in Model)
{
   <li>@hotel.guestName <br>Hotel Start Date:(@hotel.DateStart)<br>Hotel End Date:(@hotel.DateEnd) <br>Guest ID: @hotel.Id</li>
}   
    
</ul>