@model List<UdemyCourseFirstMVCApp.Models.DogViewmodel>

   
@*
 For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

<h1>This is the Hello page </h1>
<p>This is the hello page for the HelloWorldController</p>


<ul>

 @foreach(var dog in Model)
{
   <li>@dog.Name (@dog.Age)</li>
}   
    
</ul>